<html>
  
<div class="toolbar" >
 
  <span>Ejercicio CMS</span>
    <div class="spacer"></div>
    <div (click)="openDialog();" class="add-button" >Agregar usuario
      <img src="../assets/images/SVG/icono_agregar.svg" alt="add_ico">
      
    </div>

</div>

<div class="content">
  <div id="usersbanner">
    <img src="../assets/images/SVG/icono_usuarios.svg" alt="icono_usuarios">
    <span>Usuarios</span>
  </div>
  
  <div  class="searchbar">
    <input type="text"  id="searcher" placeholder="Buscador">
    <img  src="..//assets/images/SVG/icono_buscar.svg" alt="icono_buscar" >
  </div>

</div>

<div id="cardcontainer">
  Card Contacts Here
  <div class="contactcard" >
    <div class="contactname">Card name here
      <img  class="editicon" src="../assets/images/SVG/icono_editar.svg" alt="user_photo" >
    </div>
    <div class="photocontainer">
        <img src="" alt="Photo Here">
    </div>
    
    <p>City Here</p>
    <p>Phone number here</p>
  </div>




</div>

</html>
