
@import "../../../styles.scss";

#popUp {
    font-weight: bold;
    display: table;
    padding: 0%;
}
#name_input_grouper, #location_input_grouper{
    padding: 0% 0% 0% 0%;
}

#dialog_tittle {
    display: flex;
    flex-direction: row;
    size: 20rem;
    justify-content: space-around;
}

#close_ico{
    width: 10px;
    height: 10px;
    margin-left: 40%;
  
}

#close_ico:hover{
    background-color: $third_color;
    cursor:pointer;
}

#add_dialog_button{
    display: block;
    background-color: $primary_color;
    height: rem;
    border-radius: 0.5rem;
    margin: 0 0 0 0;
    padding: 0.8rem 2rem 0.8rem 2rem;
    color: $secondary_color;
    margin-top: 5%;
}

#add_dialog_button:hover{
    cursor: pointer;
    background-color: $third_color;
    color:$fourth_color
}

#cancel_dialog_button {
    color:$primary_color;
    text-decoration: underline;
    font-weight: lighter;
    padding: 3% 0% 0% 18%;
    align-self: center;
    align-content: center;
    

}
#cancel_dialog_button:hover {
    color:$third_color;
    cursor: pointer;
    

}


#dialog_container span{
    padding-right: 1% 1% 1% 1%;
}

#dialog_container input {
    border:none;
    outline: none;
    margin-bottom:6%;
    background-color: $third_color;
    color:$fourth_color;
    font-size: 1.3rem;
    width: auto;
    height: 2.5rem;
    border-radius:2rem 
    
    
}
.input_spacer{
    margin-right: 2rem;
    margin-right: 2rem;
    width: 4rem;

}
#dialog_container div{
    padding: 0 2rem 0 2rem 0;
}

#grouper{
    padding: 0% 38% 0% 38%;
}

#dialog_buttons_cont{
    
    
    flex-direction: row;
    align-items: center;
    margin-top: 2rem;
    align-self: center;
    vertical-align: auto;
}

#name_grouper{
    justify-content: left;
    display: flex;
    padding: 0% 0% 0% 0%;
    margin-bottom: 2%;

    span {
        align-self: center;
        padding: 0% 21% 0%  0%;
    }

}


#address_grouper{

    display: flex;
    justify-content: left;
    padding: 0% 0 0% 0%;
    margin-bottom: 2%;

    span {
        align-self: center;
        padding: 0% 38% 0%  0%;
    }

}

#gender options{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

