<div id="popUp">
    <div id="dialog_tittle">
        <span>{{recibidodePadre}}</span>        
        <img id=close_ico src="../../../../../assets/images/SVG/icono_cerrar.svg" alt="close.ico" (click)="onClickNO()">
    </div>
    <br>
    <hr>
    <br>
    <br>

    <div id= "dialog_container" >
        <div id="name_grouper">    
            <span>Nombre</span>
            <span></span>
            <span>Apellido</span>
        </div>
        <div id="name_input_grouper">
            <input type="text" class="dialog_input">
            <span class="input_spacer"></span>
            <input type="text" class="dialog_input">
        </div>
        <div id="address_grouper">    
            <span>Ubicacion</span>
            <span>Celular</span>
        </div>
        <div id="location_input_grouper">
            <input type="text" class="dialog_input">
            <span class="input_spacer">      </span>
            <input type="number" class="dialog_input">
        </div>
        <div id="gender options"></div>
               
            <input type="radio" id="male_gender" name="gender" value="Hombre">
            <label for="male_gender">Hombre</label>
            <input type="radio" class="gender_input" name="gender" value="Mujer"> Mujer
        </div>
    <div id="grouper">

        <div id="dialog_buttons_cont" >            
            <span id="add_dialog_button" (click)="onClickNO();">Agregar</span>
            <span id="cancel_dialog_button" (click)="onClickNO();">Cancelar</span>
    </div>
</div>
    

</div>

